



<div>
  <table>
    <td class="" draggable="true">S</td>
    <td class="" draggable="true">C</td>
    <td class="" draggable="true">R</td>
    <td class="" draggable="true">A</td>
    <td class="" draggable="true">B</td>
    <td class="" draggable="true">B</td>
    <td class="" draggable="true">L</td>
    <td class="" draggable="true">E</td>
  </table>
</div>

<h1><%= link_to "Game start", scrabble_path %></h1>

