<h1 class="ms-3">Scrabble page</h1>

<div style="margin: 80px 0;"class="d-flex justify-content-center">
    <table class="game-table shadow-lg">
      <tbody class="game-table-body">
        <tr><td class="triple-word">TW</td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="triple-word">TW</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td class="triple-word">TW</td></tr>
        <tr><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="double-word">DW</td><td></td></tr>
        <tr><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td></tr>
        <tr><td class="double-letter">DL</td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td class="double-letter">DL</td></tr>
        <tr><td></td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td></tr>
        <tr><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td></tr>
        <tr><td class="triple-word">TW</td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-word">★</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td class="triple-word">TW</td></tr>
        <tr><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td></tr>
        <tr><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="double-letter">DL</td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td class="double-letter">DL</td></tr>
        <tr><td></td><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td class="double-letter">DL</td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="double-word">DW</td><td></td><td></td></tr>
        <tr><td></td><td class="double-word">DW</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="triple-letter">TL</td><td></td><td></td><td></td><td class="double-word">DW</td><td></td></tr>
        <tr><td class="triple-word">TW</td><td></td><td></td><td class="double-letter">DL</td><td></td><td></td><td></td><td class="triple-word">TW</td><td></td><td></td><td></td><td  class="double-letter">DL</td><td></td><td></td><td class="triple-word">TW</td></tr>
      </tbody>
    </table>
</div>


<div class="d-flex justify-content-between m-3 mb-5">
  <div class="fixed1">
    <div class="d-flex justify-content-around">
    <h3>Player1</h3>
    <h5 class="mt-2">Score</h4>
    <h3 class="score-p1">0</h3>
    </div>
    <table class="tile-field shadow-lg">
      <tbody class="player1-table">
        <tr>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <section class="fixed2">
    <div class="d-flex justify-content-around">
    <h3>Player2</h3>
    <h5 class="mt-2">Score</h4>
    <h3 class="score-p2">0</h3>
    </div>
    <table class="tile-field shadow-lg">
      <tbody class="player2-table">
        <tr>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
          <td class="" draggable="true"></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<section class="buttons d-flex justify-content-center">
  <button id="shauffle-btn" class="btn btn-outline-secondary">Shuffle</button>
  <button id="pass-btn" class="mx-3 btn btn-outline-secondary">Pass</button>
  <button id="confirm-btn" class="btn btn-primary">Confirm</button>
</section>

<div class="mt-3 d-flex justify-content-center">
 <h5 class="me-3">Player</h5>
 <h5 class="current-player">1</h5>
 <h5>turn</h5>
</div>
